<a href=<%- "/browes-resturant/" + resturant.id %>>
    <li>
      <div>
        <p>name:   <span><%= resturant.name %></span></p> 
        <p>address:   <span><%= resturant.address %></span></p>
        <p>site:   <span><%= resturant.site %></span></p>
        <p>phone:   <span><%= resturant.phone %></span></p>
      </div>
      <img src= <%= resturant.img  %> alt="">
    </li>
  </a>