<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>

    <%-include("includes/headLink") %>

    <link rel="stylesheet" href="/public/styles/resturant.css">
  </head>

  <body>
    <header>
      <%-include("includes/nav") %>
    </header>

    <main>
        <section class="restaurant-info">
                <div >
                  <p>name:   <span><%= resturant.name %></span></p> 
                  <p>address:   <span><%= resturant.address %></span></p>
                  <p>site:   <span><%= resturant.site %></span></p>
                  <p>phone:   <span><%= resturant.phone %></span></p>
                </div>
                <img src= <%= resturant.img  %> alt="">
        </section>
    </main>
  </body>
</html>
